{% extends 'app/base.html' %}

<!-- BLOCK JS  -->
{% block js %}

<script>
    function aceptarSolicitud(id) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "Esta acción no se puede revertir",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Si, eliminar",
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/aceptar_solicitud/" + id + "/"
                }
            })
    }
</script>

{% endblock %}

<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/mascotas.css' %}"> 
{% endblock %}

<!-- BLOCK CONTENIDO -->
{% block contenido %}
<div class="container">
    <div class="row">
        <h2 class="text-center tituloListar">LISTADO DE SOLICITUDES</h2>
        <hr>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover ">
            
            <tr>
                <th>Nombre Completo</th>
                <th>telefono</th>
                <th>Fecha Solicitud</th>
                <th>Mascota</th>
                <th>Estado Solicitud</th>
                <th>Opciones</th>
            </tr>
            {% for m in solicitudes %}
            {%  if m.estado_solicitud == 'Pendiente' %}
            <tr>
                <td>{{ m.nombres | title }}</td>
                <td>{{ m.telefono }}</td>
                <td>{{ m.fecha_solicitud }}</td>
                <td>{{ m.mascota }}</td>
                <td>{{ m.estado_solicitud }}</td>
                {% if m.estado_solicitud == 'Pendiente' %}
                <td class="d-flex">
                    <a href="{% url 'ver_solicitud' m.id %}" class="btn btn-outline linkSolicitar text-center btn-sm"> Aprobar/Rechazar
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
    
        </table>
        
    </div>
</div>

{% endblock %}