{% extends 'app/base.html' %}
    
<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">

{% endblock %}

{% block contenido %}
    {% load crispy_forms_tags %}
    
<br>
<h2 class="text-center letraInicio">Restablecimiento de contraseña enviado</h2>
<hr>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2 ">
        <div class="card">
            <div class="card-body row mb-4 pt-2">
                <p class="letraOlvido mt-2">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>
                <p class="letraOlvido mt-2">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
