{% extends 'app/base.html' %}
    
<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block contenido %}
    {% load crispy_forms_tags %}
    
<br>
<h2 class="text-center letraInicio">Restablecimiento de contraseña completo</h2>
<hr>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2 ">
        <div class="card">
            <div class="card-body row mb-4 pt-2">
                <p class="letraOlvido mt-2 text-center">Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.</p> 
                <a href="{% url 'login'%}" class="linkRegistro text-center mt-2">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
